.workObjects {
  &:not(:last-child) {
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {
    flex: 1 1 auto;
  }

  &__image {
    width: 285px;
    margin-bottom: 30px;
  }

  &__caption {
    font-size: 20px;
    color: #3c3c3c;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 1200px) {
    &__image {
      width: 228px;
    }
  }

  @media screen and (max-width: 992px) {
    &__image {
      width: 173px;
    }
  }

  @media screen and (max-width: 768px) {
    &__item {
      flex-basis: calc(50% - 10px);
    }

    &__image {
      width: 100%;
    }
  }
}