.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
  width: 100%;
  padding: 4px 10px;
  transition: .3s;
  cursor: pointer;

  &:hover {
    text-indent: 30px;

    .button__icon {
      transform: scale(1.3);
      text-indent: 0;
    }
  }

  &--small {
    font-size: 12px;
    height: 34px;
  }

  &--big {
    font-size: 14px;
    height: 50px;
  }

  &--primaryColor {
    background-color: #212121;
  }

  &--secondaryColor {
    background-color: #e61c46;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    padding: 0 7.5px;
    box-sizing: border-box;
    transform: scale(0, 1);
    transform-origin: left center;
    transition: all 0.2s linear 0s;
  }
}