.footer {
  font-size: 14px;
  color: #fff;
  background-color: var(--primary-color);
  padding: 45px 0 10px;

  a {
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;

    &:hover {
      color: #ccc;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 14px;
    max-width: var(--width-content);
    padding: 0 14px;
    margin: 0 auto;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    row-gap: 14px;

    @media screen and (max-width: 1024px) {
      flex-basis: calc(50% - 15px);

      &:nth-child(1) { order: 1; }
      &:nth-child(2) { order: 3; }
      &:nth-child(3) { order: 2; }
      &:nth-child(4) { order: 4; }
    }

    @media screen and (max-width: 576px) {
      flex-basis: 100%;

      &:nth-child(1) { order: initial; }
      &:nth-child(2) { order: initial; }
      &:nth-child(3) { order: initial; }
      &:nth-child(4) { order: initial; }
    }
  }

  &__phone {
    font-size: 14px;
    color: #fff;
  }

  &__copyright {
    flex-basis: 100%;
    border-top: 1px solid #666;
    font-size: 12px;
    padding-top: 10px;
    margin-top: 30px;
    order: 5;
  }
}